/* Sections
---------------------------------------------------------------------------- */
.sections {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding: var(--l);
	gap: 60px;

	li{
		width: 33%;
	}
}

main {
	max-width: 60rem;
	background-color: var(--color-light);
	margin-inline: auto;
}

/* Suche
---------------------------------------------------------------------------- */
.search-container{
	display: flex;
	width: 100%;
	justify-content: center;
}
	
	

.search {
	position: relative;
	right: 20;
	display: inline;
	padding: var(--s);
	
	input {
		padding: var(--xxs);
		border: none;
		margin-top: var(--l);
		background-color: var(--color-lightest);
		outline: none;
		

	}

	.big-vp.icon {
		position: relative;
		right: 24px;
		bottom: 1px;
	}

	.small-vp{
		.icon {
		position: relative;
		right: 24px;
		bottom: 8px;}

	}
	

	&.big-vp{display: none;}

	@media screen and (width >= 400px) {
		&.small-vp{
			display: none;
		}

		&.big-vp{
			display: inline;
		

			input{
				background-color: var(--color-light) ;
			}

			div{
				position: relative;
				right: 4px;
				padding: var(--xxs);
				background-color: var(--color-orange);
				color: var(--color-lightest);
				
			}
		}
	}
}



/* Banner (Willkommen)
---------------------------------------------------------------------------- */
.banner {
	padding: var(--s);
	background-color: var(--color-orange);
	color: var(--color-lightest);
	padding-inline: var(--s);

	p{
		padding: var(--xxs);
	}

	:any-link {
		padding: var(--xxs);
		text-decoration: underline;
	}
}

/* Fav List
---------------------------------------------------------------------------- */
.list {
	&.is-grid{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	}
	
	&.is-inline{
		li{
			display: inline-block;
		}
	}
}

/* Fav Item
---------------------------------------------------------------------------- */

.list-item {
	padding: var(--xs);
	margin-bottom: var(--xxs);
	margin-left: var(--xxs);
	background-color: var(--color-lightest);
	

	span{
		padding-right: var(--xxs);
	}

	address {
		margin-left: var(--xxl);
		font-size: var(--xs);
		font-style: normal;
		line-height: var(--lh-tight);
	}
}

/* Card
---------------------------------------------------------------------------- */
.card {
	padding-bottom: var(--xs);
	margin: var(--s);
	background-color: var(--color-lightest);

	:any-link {
		color: black;
	}

	h3,
	address {
		margin-left: var(--xs);
	}

	img {
		max-width: 100%;
	}

	ul {
		display: flex;
		flex-direction: row;
		margin-top: 10px;
		gap: var(--xxs);
		overflow-x: scroll;
		scrollbar-color: rgba(0 0 0/ 0%) rgb(0 0 0/ 0%);
	}

	/* stylelint-disable-next-line no-descending-specificity */
	li {
		margin-left: none;
		background-color: var(--color-light);
		padding-inline: var(--xxs);
	}
}

/* Footer
---------------------------------------------------------------------------- */
footer {
	display: flex;
	width: fit-content;
	flex-direction: row;
	font-size: small;
	gap: var(--m);
	overflow-x: scroll;
 
}

