@font-face {
  font-family: "source-sans-3";
  src: url("../fonts/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: 'Material-Icon';
  src:    url('../fonts/fonts/Material_Icons/font/MaterialIcons-Regular.ttf') format('truetype');
}
