/* Header
---------------------------------------------------------------------------- */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .icon-menu {
    position: relative;
    top: 18px;
    margin: var(--m);
  }
}

/* Main Menu
---------------------------------------------------------------------------- */
.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;
  padding: var(--xl);
  gap: var(--l);
  background-color: var(--color-light);
  transform: translateX(-100%);
  transition: transform var(--tr-normal);

  &.is-active {
    transform: translateX(0);
  }
}

/* Tab Navigation
---------------------------------------------------------------------------- */

.tab-navigation {
  display: flex;
  background-color: var(--color-lightest);
  li {
    width: 100%;
    justify-content: space-around;
    padding: var(--l);

    &.is-active {
      background-color: var(--color-light);
    }
  }
}

main {
  max-width: 80rem;
  background-color: var(--color-light);
  margin-inline: auto;
}

/* Area
---------------------------------------------------------------------------- */
.area {
  display: none;
  &.is-active {
    display: block;
  }
}

/* Suche
---------------------------------------------------------------------------- */
/* stylelint-disable-next-line no-descending-specificity */
.search-container {
  display: flex;
  margin-top: var(--xs);
  flex-grow: 1;

  .search {
    &.big-vp {
      display: flex;
      flex-grow: 1;
      margin: var(--s);

      input {
        flex-grow: 1;
        background-color: var(--color-light);
        border: none;
        outline: none;

        &::placeholder {
          padding-left: var(--m);
        }
      }
      .icon {
        position: relative;
        background-color: var(--color-orange);
        padding: var(--m);
      }
    }

    &.small-vp {
      display: flex;
      flex-grow: 1;
      input {
        flex-grow: 1;
        border: none;
        outline: none;

        padding: var(--m);
        margin: var(--m);
      }

      .icon {
        position: relative;
        top: 32px;
        right: 44px;
      }
    }

    &.big-vp {
      display: none;
    }

    @media screen and (width >= 634px) {
      &.small-vp {
        display: none;
      }

      &.big-vp {
        display: flex;
      }
    }
  }
}

/* Banner (Willkommen)
---------------------------------------------------------------------------- */
.banner {
  padding: var(--s);
  background-color: var(--color-orange);
  color: var(--color-lightest);
  padding-inline: var(--s);
  align-items: center;
  p {
    padding: var(--xxs);
    max-width: 800px;
  }

  :any-link {
    padding: var(--xxs);
    text-decoration: underline;
  }
}

/* Fav List
---------------------------------------------------------------------------- */
.list {
  &.is-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }

  &.is-inline {
    li {
      display: inline-block;
    }
  }
}

/* Fav Item
---------------------------------------------------------------------------- */
.list-item {
  padding: var(--xs);
  margin-bottom: var(--xxs);
  margin-left: var(--xxs);
  background-color: var(--color-lightest);

  span {
    padding-right: var(--xxs);
  }

  address {
    margin-left: var(--xxl);
    font-size: var(--xs);
    font-style: normal;
    line-height: vr(--lh-tight);
  }
}

/* Card
---------------------------------------------------------------------------- */
.card {
  padding-bottom: var(--xs);
  margin: var(--s);
  background-color: var(--color-lightest);

  :any-link {
    color: black;
  }

  h3,
  address {
    margin-left: var(--xs);
  }

  img {
    max-width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: var(--xxs);
    overflow-x: scroll;
    scrollbar-color: rgba(0 0 0/ 0%) rgb(0 0 0/ 0%);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  li {
    margin-left: none;
    background-color: var(--color-light);
    padding-inline: var(--xxs);
  }
}

/* Footer
---------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  ul {
    li {
      display: flex;
      flex-direction: column;
      padding-left: var(--s);
      margin-bottom: var(--s);

      a {
        padding-bottom: var(--xs);
      }
      ::before {
        content: '\00BB';
      }
    }
  }
}
