/* Header
---------------------------------------------------------------------------- */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .icon-menu {
    position: relative;
    top: 18px;
	margin: var(--m);
    }

	.menu-bar{
		display: none;	
		flex-direction: row;
		align-self: center;
		padding-right: var(--m);
		gap: var(--s);
	
	}

	@media screen and (width >= 734px) {
		.icon-menu{
			display: none;
		}

		.menu-bar{
			display: flex;
		}
	}
}

/* Main Menu
---------------------------------------------------------------------------- */
.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;
  padding: var(--xl);
  background-color: var(--color-light);
  gap: var(--l);
  transform: translateX(-100%);
  transition: transform var(--tr-normal) ease-in-out;

  &.is-active {
    transform: translateX(0);
  }
}

/* Tab Navigation
---------------------------------------------------------------------------- */

.tab-navigation {
  display: flex;
  background-color: var(--color-lightest);

  li {
    width: 100%;
    justify-content: space-around;
    padding: var(--l);

    &.is-active {
      background-color: var(--color-light);
    }

  }

    :hover{
      background-color: var(--color-light-hover);
    }

}

main {
  max-width: 80rem;
  background-color: var(--color-light);
  margin-inline: auto;
}

/* Area
---------------------------------------------------------------------------- */
.area {
  display: none;

  &.is-active {
    display: block;
  }
}

/* Suche
---------------------------------------------------------------------------- */
/* stylelint-disable-next-line no-descending-specificity */
.search-container {
  display: flex;
  flex-grow: 1;
  margin-top: var(--xs);
  
  .search {
    &.big-vp {
      display: flex;
      flex-grow: 1;
      margin: var(--s);

      input {
        flex-grow: 1;
		border: none;
        background-color: var(--color-light);
        outline: none;

        &::placeholder {
          padding-left: var(--m);
        }
      }

      .icon {
        position: relative;
		padding: var(--m);
        background-color: var(--color-orange);
        
      }
    }

    &.small-vp {
      display: flex;
      flex-grow: 1;

      input {
        flex-grow: 1;
		padding: var(--m);
        border: none;
		margin: var(--m);
        outline: none;
      }

      .icon {
        position: relative;
        top: 32px;
        right: 44px;
      }
    }

    /* stylelint-disable-next-line no-duplicate-selectors */
    &.big-vp {
      display: none;
    }

    @media screen and (width >= 634px) {
      &.small-vp {
        display: none;
      }

      &.big-vp {
        display: flex;
      }
    }
  }
}

/* Banner (Willkommen)
---------------------------------------------------------------------------- */
.banner {
  align-items: center;
  padding: var(--s);
  background-color: var(--color-orange);
  color: var(--color-lightest);
  padding-inline: var(--s);
  
  
  p {
	 max-width: 800px;
    padding: var(--xxs);
   
  }

  :any-link {
    padding: var(--xxs);
    text-decoration: underline;
  }
}

/* Fav List
---------------------------------------------------------------------------- */
.list {
  &.is-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }

  &.is-inline {
    li {
      display: inline-block;
    }
  }
}

/* Fav Item
---------------------------------------------------------------------------- */
.list-item {
  padding: var(--xs);
  margin-bottom: var(--xxs);
  margin-left: var(--xxs);
  background-color: var(--color-lightest);

  span {
    padding-right: var(--xxs);
  }

  address {
    margin-left: var(--xxl);
    font-size: var(--xs);
    font-style: normal;
    line-height: var(--lh-tight);
  }
}

/* Card
---------------------------------------------------------------------------- */
.card {
  padding-bottom: var(--xs);
  margin: var(--s);
  background-color: var(--color-lightest);

  :any-link {
    color: black;
  }

  h3,
  address {
    margin-left: var(--xs);
  }

  img {
    max-width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: var(--xs);
    gap: var(--xxs);
    overflow-x: scroll;
    scrollbar-color: rgba(0 0 0/ 0%) rgb(0 0 0/ 0%);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  li {
    margin-left: none;
    background-color: var(--color-light);
    padding-inline: var(--xxs);
  }
}

/* Footer
---------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  ul {
    /* stylelint-disable-next-line no-descending-specificity */
    li {
      display: flex;
      flex-direction: column;
      padding-left: var(--s);
      margin-bottom: var(--s);

      a {
        padding-bottom: var(--xs);
      }
      /* stylelint-disable-next-line rule-empty-line-before */
      ::before {
        content: '\00BB';
      }
    }
  }
}
