:root{
  --ff-icons: material-icons;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;
  --base-font-size: calc(1rem * 0.08);
  --xxxs: 5px;
  --xxs: 8px;
  --xs: 10px;
  --s:  12px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
  --color-light: #e8e8e8;
  --color-light-hover: #e8e8e85e;
  --color-lightest: #fff;
  --color-orange: #e9590c;
  --color-darkst: #000;
  --tr-normal: .3s;

  /* Base Colors
---------------------------------------------------------------------------- */
--light: hsl(0deg 0% 80% / 100%);
--lighter: hsl(0deg 0% 90% / 100%);
--lightest: hsl(0deg 0% 100% / 100%);
--lighten: rgb(255 255 255 / 20%);
--dark: hsl(0deg 0% 20% / 100%);
--darker: hsl(0deg 0% 10% / 100%);
--darkest: hsl(0deg 0% 0% / 100%);
--darken: rgb(0 0 0 / 20%);
--darken-light: rgb(0 0 0 / 3%);
--mi-blau: #4952e1;
--mi-pink: #d16;
--mi-gruen: #00ad2f;
--mi-lila: #9313ce;
--mi-black: #231f20;
--mi-grau: #aaa;
--mi-hellgrau: #efefef;

/* Functional Colors
---------------------------------------------------------------------------- */
--interaction-color: var(--mi-pink);
--decoration-color: var(--mi-gruen);
--text-color: var(--darker);
--headline-color: var(--dark);
--headline-color-light: var(--darker);
--border-color: var(--dark);
--seperator-color: var(--light);
--background-color: color-mix(in srgb, var(--mi-pink) 20%, white);
--link-color: var(--darkest);

}